# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production
build/

# IDEs and editors
.visualstudio/
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables (IMPORTANT: Never upload these)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env.local

# Chrome Extension related
*.pem
*.crx

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# OS Files
Thumbs.db
desktop.ini

# Sensitive files
api.txt
*.txt
