# Supabase Bağlantı Ayarları
# Bu değerleri kendi Supabase projenizden alın:
# https://app.supabase.com → Settings → API

NEXT_PUBLIC_SUPABASE_URL= BURAYA EKLE
NEXT_PUBLIC_SUPABASE_ANON_KEY= sb_publishable_------- BURAYA EKLE
